* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: san-serif;
}

body {
    text-align: center;
    background-color: #000033;
    color: #FFF;
}

.app {
    padding: 1.5rem;
}

h1 {
    margin-top: 2rem;
    font-size: 2rem;
    margin-bottom: 1rem;
}

input {
    appearance: none;
    outline: none;
    border: none;
    background: #EEE;
    width: 100%;
    max-width: 320px;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

button, a{
    appearance: none;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    color: #2bcb4d;
    font-size: 1.5rem;
    text-decoration: none;
}

img{
    display: block;
    width: 100%;
    max-width: 480px;
    margin: 2rem auto;
}